Filename


<input type="text" name="gist[gist_files][<%= gistFile.cid %>][name]" value="<%= gistFile.escape('name') %>"><br>
Body<br>
<textarea name="gist[gist_files][<%= gistFile.cid %>][body]">
  <%= gistFile.escape('body') %>
</textarea><br>


<div class="taggingshere">


  <div class="ULHERE"></div>


</div>



<script>

  var $UI = $('.ULHERE')

function TextSearchSelect($el, tags) {


  $el.append('<input class="tag-me" type="text">');

  $el.on('focus', function() {

  });

  $el.on('blur', function() {

  })

  $('.tag-me').keyup(function(event) {

    $UI.html('fdsafdsf');

    var value = $(event.currentTarget).val();
    var newtags = [];
    tags.forEach(function(tag) {
      console.log(tag.name);
      console.log(tag.name.indexOf(value));
     if (tag.name.indexOf(value) != -1) {
       console.log("inside if");
       newtags.push(tag)
     }
     console.log(tags);
     console.log(newtags);
    })
    newtags.forEach(function(tag) {
        $UI.append('<li data-tagid=' + newtags.indexOf(tag) + '>' + tag.name + '</li>')
    });
  });

  $UI.on('click', 'li', function(event){
    $li = $(event.currentTarget);
    var tagAdded = $('<h4> Tag: ' + $li.html() + ' Added</h4>')
    $UI.append(tagAdded);
    $UI.append("<input type='hidden' name='gist[tag][tag_ids][]' value="+$li.attr('data-tagid')+">");
  } )

}

$.ajax({
  url: '/tags',
  type: 'get',
  dataType: 'json',
  success: function(response) {

    TextSearchSelect($('.taggingshere'), response);

  }
  //sucess and failure
})





</script>


<!-- name, body, gist_id

youd make a new model on the fly.
use the cid as the unique identifier.

-->