<%=gist.escape('title')%>
<br>

<button class="favorite <% if (!gist.escape('favorite')) { %>
<%= 'favorited' %>
<% } %>



" data-id="<%= gist.id %>">Favorite</button>
<button class="unfavorite <% if (!gist.escape('favorite')) { %>
<%= 'favorited' %>
<% } %>" data-id="<%= gist.id %>">Unfavorite</button>

<p><a href="#">Back</a>
</p>